@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
}

.contactForm {
  padding: 10px;
  width: 300px;
  border: 1px solid $medium-gray;
  margin: 30px;
  float: left;
}
.contactForm input {
  display: block;
  margin-bottom: 10px;
}

.contactsList {
  float: right;
  width: 300px;
  border: 1px solid $medium-gray;
  margin: 30px;
  text-align: center;
}

.contactsList h1 {
  display: inline-block;
}
